* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100hv;
    background-color:hsla(28, 38%, 92%, 1);
    font-family: 'Montserrat','Fraunces',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parfume-card {
    width:343px;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 10px;
    overflow: hidden;
    margin:28px 16px;



}

img {
    width:100%;
}

.text-div {
    text-align: left;
    padding: 0 24px;
}
/* Typography */

h3 {
    font-family: 'Montserrat',sans-serif;
    font-style: Medium;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.63px;
    letter-spacing: 5px;
    color:hsla(228, 12%, 48%, 1);
    margin-top: 24px;
    margin-bottom:12px;
}

h1 {
    font-family: 'Fraunces',sans-serif;
    font-style: bold;
    font-size: 32px;
    line-height: 32px;
    color: #1C232B;
    margin-bottom: 16px;
}

p {
    font-family: 'Montserrat',sans-serif;
    font-style:Medium;
    font-size: 14px;
    line-height: 23px;
    color: #6C7289;
    margin-bottom: 24px;
}

h2 {
    font-family: 'Fraunces',sans-serif;
    font-size:32px;
    line-height: 32px;
    color: #3D8168;
    margin-right: 19px;
}

span {
    font-family: 'Montserrat',sans-serif;
    font-size:13px;
    line-height: 23px;
    color:#6C7289;
    text-indent: 19px;
    text-decoration: line-through;
}
/* Typography end */