* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100hv;
    background-color:hsla(28, 38%, 92%, 1);
    font-family: 'Montserrat','Fraunces',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parfume-card {
    width:343px;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 10px;
    overflow: hidden;
    margin:28px 16px;



}

img {
    width:100%;
}