* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color:hsla(28, 38%, 92%, 1);
    font-family: 'Montserrat','Fraunces',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parfume-card {
    width:343px;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 10px;
    overflow: hidden;
    height: 611px;
}

.product-mobile {
    width:100%;
}

.product-destkop {
    display: none;
}

.text-div {
    text-align: left;
    padding: 0 24px;
}
/* Typography */

h3 {
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.63px;
    letter-spacing: 5px;
    color:hsla(228, 12%, 48%, 1);
    margin-top: 24px;
    margin-bottom:12px;
}

h1 {
    font-family: 'Fraunces',sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #1C232B;
    margin-bottom: 16px;
}

p {
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    color: #6C7289;
    margin-bottom: 24px;
}

h2 {
    font-family: 'Fraunces',sans-serif;
    font-size:32px;
    line-height: 32px;
    color: #3D8168;
    display: flex;
    align-items: center;
    gap: 19px;
}

span {
    font-family: 'Montserrat',sans-serif;
    font-size:13px;
    line-height: 23px;
    color:#6C7289;
    text-decoration: line-through;
}

.cart-text {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
}
/* Typography end */
.cart {
    width: 14.39px;
    height: 16px;
}

button {
    border-radius: 8px;
    background: #3D8168;
    width: 100%;
    border: none;
    height: 48px;
    margin-top:20px;
    margin-bottom: 24px;
}

@media (min-width: 1440px) {

  .parfume-card {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 450px;
    border-radius: 10px;
  }
  .product-mobile {
    display: none;
  }

  .product-destkop {
    display: block;
  }

  h3 {
    margin-bottom: 20px;
    margin-top: 32px;
  }

  h1 {
    margin-bottom: 24px;
    padding-right: 32px;
  }

  p {
    margin-bottom: 29px;
    width: 237px;
  }

  button {
    margin-top: 30px;
    margin-bottom: 0;   
    cursor: pointer; 
  }

  button:hover { 
    background-color: hsla(157, 43%, 18%, 1);
  }
}